{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
    <h1>About Me</h1>
    <p>Hello, my name is Eric Wei. I grew up in Vancouver, CA and 
      studied Informatics at the University of Washington. My main experiences
      are with data analytics, data science, and software engineering.
    </p>
    <p>
      The Climate Risk Dashboard is a free alternative for predicting environmental 
      property risks. It was inspired by a similar climate risk dashboard by GRESB.
    </p>
  </div>
{% endblock %}